{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<style>
    .post-thumbnail img {
        width: 356px;
        height: 246px;
        object-fit: cover;
    }
</style>

<!-- Start Blog Section -->
<div class="blog-section">
    <div class="container">
        <!-- Фильтры -->
        <div class="row mb-4">
            <div class="col-12">
                <div class="btn-group" role="group">
                    {% for category in categories %}
                    <a href="?category={{ category.slug }}&sort_by_date={{ sort_by_date }}" class="btn btn-outline-primary {% if selected_category == category.slug %}active{% endif %}">
                        {{ category.name }}
                    </a>
                    {% endfor %}
                    <a href="?sort_by_date={{ sort_by_date }}" class="btn btn-outline-primary {% if not selected_category %}active{% endif %}">
                        All
                    </a>
                </div>
                <div class="btn-group float-end" role="group">
                    <a href="?sort_by_date=asc{% if selected_category %}&category={{ selected_category }}{% endif %}" class="btn btn-outline-secondary {% if sort_by_date == 'asc' %}active{% endif %}">
                        Oldest First
                    </a>
                    <a href="?sort_by_date=desc{% if selected_category %}&category={{ selected_category }}{% endif %}" class="btn btn-outline-secondary {% if sort_by_date == 'desc' %}active{% endif %}">
                        Newest First
                    </a>
                </div>
            </div>
        </div>

        <!-- Посты -->
        <div class="row">
            {% for post in blog_posts %}
            <div class="col-12 col-sm-6 col-md-4 mb-5">
                <div class="post-entry">
                    <a href="{{ post.get_absolute_url }}" class="post-thumbnail">
                        {% if post.images.first %}
                        <img src="{{ post.images.first.image.url }}" alt="{{ post.title }}" class="img-fluid">
                        {% else %}
                        <img src="{% static 'shop/images/default-post.jpg' %}" alt="Default Image" class="img-fluid">
                        {% endif %}
                    </a>
                    <div class="post-content-entry">
                        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        <div class="meta">
                            <span>by <a href="#">{{ post.author.username }}</a></span>
                            <span>on <a href="#">{{ post.created_at|date:"F d, Y" }}</a></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Blog Section -->


{% endblock %}
