{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="untree_co-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2 class="h3 mb-3 text-black">User Profile</h2>
        <div class="p-3 p-lg-5 border bg-white">
          <!-- Username -->
          <div class="form-group row">
            <div class="col-md-12">
              <label for="username" class="text-black">Username</label>
              <p>{{ user.username }}</p>
            </div>
          </div>

          <!-- Email -->
          <div class="form-group row">
            <div class="col-md-12">
              <label for="email" class="text-black">Email</label>
              <p>{{ user.email }}</p>
            </div>
          </div>

          <!-- First Name -->
          <div class="form-group row">
            <div class="col-md-6">
              <label for="first_name" class="text-black">First Name</label>
              <p>{{ user.first_name }}</p>
            </div>

            <!-- Last Name -->
            <div class="col-md-6">
              <label for="last_name" class="text-black">Last Name</label>
              <p>{{ user.last_name }}</p>
            </div>
          </div>

          <!-- Country -->
          <div class="form-group">
            <label for="country" class="text-black">Country</label>
            <p>{{ user.profile.country }}</p>
          </div>

          <!-- Address -->
          <div class="form-group row">
            <div class="col-md-12">
              <label for="address" class="text-black">Address</label>
              <p>{{ user.profile.address }}</p>
            </div>
          </div>

          <!-- State / Country and Postal / Zip -->
          <div class="form-group row">
            <div class="col-md-6">
              <label for="state_country" class="text-black">State / Country</label>
              <p>{{ user.profile.state_country }}</p>
            </div>
            <div class="col-md-6">
              <label for="postal_zip" class="text-black">Postal / Zip</label>
              <p>{{ user.profile.postal_zip }}</p>
            </div>
          </div>

          <!-- Phone -->
          <div class="form-group row mb-4">
            <div class="col-md-6">
              <label for="phone" class="text-black">Phone</label>
              <p>{{ user.profile.phone }}</p>
            </div>
          </div>

          <!-- Change Profile Button -->
          <div class="form-group">
            <a href="{% url 'shop:update_profile' %}" class="btn btn-black btn-lg py-3 btn-block">Change</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
